*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #f0f6ff;
  
}

nav{
   color: #3b365f;
   font-weight: 600;
   margin-top: 2rem;
}

section{
   margin-top: 5rem;
}
.hero{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 10rem;
}

.hero-info h1{
   color: #3b365f;
   font-size: 3rem;
   font-weight: 900;
   text-align: center;
}

.hero-info h2{
   color: #3b365f;
   font-weight: 500;
   font-size: 1.2rem;
   text-align: center;
   margin: 0.5rem 0;
}

.hero-btn{
   display: flex;
   flex-direction: row;
   margin-top: 1rem;
   margin-bottom: 1rem; 
}

.head-aid{
   text-align: center;
   color: #3b365f;
   font-size: 2.5rem;
   font-weight: 700;
   margin-bottom: 2rem;
}
.aid{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.aid h2{
   color: #3b365f;
   font-size: 1rem;
   font-weight: 600;
   margin-bottom: 10px;
}
.aid-info{
  padding: 2rem;
  font-size: 1rem;
  border-radius: 20px;
}

/* Button Styles */
.btn-aid, .btn-help, .btn-guide {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-aid:hover, .btn-help:hover, .btn-guide:hover {
    background-color: #0056b3;
}

.btn-aid a, .btn-help a, .btn-guide a {
    color: white;
    text-decoration: none;
}

@media (min-width:768px) {
   .hero-btn{
      display: flex;
      flex-direction: row;
      gap: 2rem;
   }

   .aid{
      display: flex;
      
   }
   .help-btn{
      display: flex;
      flex-direction: row;
   }
   .btn-call, .btn-guide{
      padding:  0.1rem 2rem;
   }
}